body {
    background-image: linear-gradient(black, rgba(6, 44, 80, 1) 40%);
    background-attachment: fixed;
}

@media(max-width: 350px) {
    #information-form {
        margin-top: 10vw;
    }
}

@media(min-width: 351) {
    #information-form {
        margin-top: 3vw;
    }
}

@media(max-width: 490px) {
    #emptyFieldError {
        margin-left: 8%;
    }
}

@media(min-width: 491px) {
    #emptyFieldError {
        margin-left: 14.5%;
    }
}

@media (orientation: portrait) {
    @media (max-width: 400px) {
        #title {
            margin-right: 8vw;
        }
    }
    
    @media (min-width: 401px) {
        #title {
            margin-right: 10vw;
        }
    }

    @media(max-width: 500px) {
        #personal {
            margin-top: 20px;
        }
    }

    @media(min-width: 501px) {
        #personal {
            margin-top: 0;
        }
    }

    #upper-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        background-size: cover;
        background-repeat: no-repeat;
        height: max-content;
    }

    #title {
        display: flex;
        height: 40%;
        align-self: center;
        padding: 2vw 2vw 2vw;
    
        background-image: linear-gradient(rgba(6, 44, 80, 1), black);
        border: 3px solid black;
        box-shadow: 0 0 2vw black;
        opacity: 0;
    
        animation: fadein 1s forwards ease-in;
        -o-animation: fadein 1s forwards ease-in;
        -moz-animation: fadein 1s forwards ease-in;
        -webkit-animation: fadein 1s forwards ease-in;
    }

    #title h2 {
        margin: auto;
    
        font-size: 15vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        color: white;
        text-shadow: 0 0 5px rgb(255, 255, 255);
    }

    #information-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 10vw;
    }

    #information-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(180px, 80%, 80%);
        
        background-color: rgba(172, 195, 217, 0.356);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    #information-form h2 {
        font-size: clamp(25px, 6vw, 6vw);
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        color: white;
        text-shadow: 0 0 5px black;
    }

    #break {
        margin-top: -3%;
        margin-bottom: 3%;
        width: 90%;
        height: 1px;
    
        background-color: rgb(255, 255, 255);
    }

    .input {
        margin-bottom: clamp(10px, 2vw, 2vw);
        width: clamp(150px, 80%, 80%);
        height: clamp(20px, 3vw, 3vw);
    
        font-size: clamp(13px, 1.7vw, 1.7vw);
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        border: none;
    
        transition: 300ms ease-in-out;
    }

    #information-form textarea {
        margin-bottom: clamp(10px, 2vw, 2vw);
        width: clamp(150px, 80%, 80%);
        height: clamp(100px, 20vw, 20vw);
    
        font-size: clamp(13px, 1.7vw, 1.7vw);
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        border: none;
    
        transition: 300ms ease-in-out;
    }

    #submit {
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        margin-right: 5%;
        margin-bottom: 3%;
        width: clamp(70px, 10vw, 10vw);
        height: clamp(20px, 3vw, 3vw);
        
        font-size: clamp(13px, 1.5vw, 100px);
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(6, 44, 80, 1);
        color: white;
        border: none;
        border-radius: 15px;
    }

    #emptyFieldError {
        display: none;
        align-self: flex-start;
        margin-top: -1vw;
        margin-bottom: 0.5vw;
        margin-left: 10%;
        font-size: clamp(10px, 1.5vw, 100px);
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 0, 0);
    }

    .input:focus {
        background-color: rgba(6, 44, 80, 1);
        transform: scale(1.03);
        color: white;
        outline: none;
    
        transition: 300ms ease-in-out;
    }

    #information-form textarea:focus {
        background-color: rgba(6, 44, 80, 1);
        transform: scale(1.03);
        color: white;
        outline: none;
    
        transition: 300ms ease-in-out;
    }
} 

@media (orientation: landscape) {

    #upper-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #title {
        display: flex;
        margin: 2vw 0px 2vw;
    
        background-image: linear-gradient(rgba(6, 44, 80, 1), black);
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        box-shadow: 0 0 2vw black;
        opacity: 0;
    
        animation: fadein 1s forwards ease-in;
        -o-animation: fadein 1s forwards ease-in;
        -moz-animation: fadein 1s forwards ease-in;
        -webkit-animation: fadein 1s forwards ease-in;
    }

    #title h2 {
        margin: auto;
    
        font-size: 6vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        color: white;
        text-shadow: 0 0 5px rgb(255, 255, 255);
    }

    #information-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 10vw;
    }

    #information-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(180px, 50%, 50%);
    
        background-color: rgba(87, 93, 148, 0.356);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    #information-form h2 {
        font-size: clamp(36px, 4vw, 4vw);
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        color: white;
        text-shadow: 0 0 5px black;
    }

    #break {
        margin-top: -3%;
        margin-bottom: 3%;
        width: 90%;
        height: 1px;
    
        background-color: rgb(255, 255, 255);
    }

    .input {
        margin-bottom: clamp(10px, 2vw, 2vw);
        width: clamp(150px, 85%, 85%);
        height: clamp(20px, 1.5vw, 1.5vw);
    
        font-size: clamp(13px, 1vw, 1vw);
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        border: none;
    
        transition: 300ms ease-in-out;
    }

    #information-form textarea {
        margin-bottom: clamp(10px, 2vw, 2vw);
        width: clamp(150px, 85%, 85%);
        height: clamp(100px, 10vw, 10vw);
    
        font-size: clamp(13px, 1vw, 1vw);
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        border: none;
    
        transition: 300ms ease-in-out;
    }

    #submit {
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
        margin-right: 5%;
        width: clamp(70px, 6vw, 6vw);
        height: clamp(30px, 2vw, 2vw);
        text-align: center;
        
        font-size: clamp(14px, 1vw, 100px);
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(6, 44, 80, 1);
        color: white;
        border: none;
        border-radius: 15px;
    }

    #emptyFieldError {
        display: none;
        align-self: flex-start;
        margin-top: -1vw;
        margin-bottom: 0.5vw;
        margin-left: 7%;
        font-size: clamp(10px, 1vw, 100px);
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 0, 0);
    }

    .input:focus {
        background-color: rgba(6, 44, 80, 1);
        transform: scale(1.01);
        color: white;
        outline: none;
    
        transition: 300ms ease-in-out;
    }

    #information-form textarea:focus {
        background-color: rgba(6, 44, 80, 1);
        transform: scale(1.01);
        color: white;
        outline: none;
    
        transition: 300ms ease-in-out;
    }
}

#personal {
    display: flex;

    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.404);
    font-size: clamp(16px, 4vw, 36px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    opacity: 0;

    animation: fadeinupsmooth 1s forwards ease-in-out;
    animation-delay: 100ms;
}

#work {
    display: flex;
    margin-bottom: 5vw;

    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.404);
    font-size: clamp(16px, 4vw, 36px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    opacity: 0;

    animation: fadeinupsmooth 1s forwards ease-in-out;
    animation-delay: 300ms;
}

#information-form {
    opacity: 0;
    animation: fadeinupsmooth 1s forwards ease-in-out;
    animation-delay: 500ms;
}

#submit:active {
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transform: scale(0.95);
}

.input.input:focus::placeholder {
    color: white;
}

#information-form textarea:focus::placeholder {
    color: white;
}

.fade-in {
    opacity: 0;

    animation: fadein 1s forwards ease-in;
}

.tab-button:nth-child(1) {
    margin-right: 2vw;
    animation: fadeinleft 0.5s forwards ease-in-out;
    -o-animation: fadeinleft 0.5s forwards ease-in-out;
    -moz-animation: fadeinleft 0.5s forwards ease-in-out;
    -webkit-animation: fadeinleft 0.5s forwards ease-in-out;
}

.tab-button:nth-child(2) {
    margin-right: 2vw;
    animation: fadeinleft 0.5s forwards ease-in-out;
    -o-animation: fadeinleft 0.5s forwards ease-in-out;
    -moz-animation: fadeinleft 0.5s forwards ease-in-out;
    -webkit-animation: fadeinleft 0.5s forwards ease-in-out;
    animation-delay: 100ms;
    -o-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -webkit-animation-delay: 100ms;
}

.tab-button:nth-child(3) {
    margin-right: 2vw;
    animation: fadeinleft 0.5s forwards ease-in-out;
    -o-animation: fadeinleft 0.5s forwards ease-in-out;
    -moz-animation: fadeinleft 0.5s forwards ease-in-out;
    -webkit-animation: fadeinleft 0.5s forwards ease-in-out;
    animation-delay: 200ms;
    -o-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -webkit-animation-delay: 200ms;
}

.tab-button:nth-child(4) {
    animation: fadeinleft 0.5s forwards ease-in-out;
    -o-animation: fadeinleft 0.5s forwards ease-in-out;
    -moz-animation: fadeinleft 0.5s forwards ease-in-out;
    -webkit-animation: fadeinleft 0.5s forwards ease-in-out;
    animation-delay: 300ms;
    -o-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
}

@keyframes typingAffect {
    0% {width: 0; opacity: 1}
    100% {opacity: 1;}
}

@keyframes typingBorder {
    0% {border-right-color: black;}
    30% {border-right-color: black;}
    100% {border-right-color: rgba(0, 0, 0, 0);}
}

@keyframes fadeinupsmooth {
    0%{transform: translateY(10px);}
    20%{opacity: 0;}
    100%{opacity: 1}
}